/* CardList */
.Card_List                          { position: relative; list-style-type: none; display: inline-block; vertical-align: top; white-space: normal; height: 100%; width: 33%; padding: 0 20px; overflow: auto; }
.Card_List:not(:last-child):after   { content: ''; position: absolute; top: 0; right: 0; width: 1px; height: 99%; background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed; }
.Card_List h1                       { font-family: "Saying_tobe_strong", 맑은 고딕, 돋움, 굴림; font-weight: 500; color: #3b414c; font-size: 30px; margin-bottom: 10px; }

@font-face {
    font-family: 'Saying_tobe_strong';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_09@1.0/Saying_tobe_strong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}